* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #000; /* Fallback color */
  transition: background 0.3s ease-in-out;
}

#quote-container {
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
}

#quote-text {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 10px;
}

#quote-author {
  font-size: 1.5em;
  font-weight: 300;
}

@media (max-width: 768px) {
  #quote-container {
    max-width: 90%;
  }

  #quote-text {
    font-size: 1.5em;
  }

  #quote-author {
    font-size: 1.2em;
  }
}
